<h2 mat-dialog-title>Angular 8 features</h2>
<mat-dialog-content class="mat-typography">
  <mat-list>
    <mat-list-item>Routes, child routes</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Route guard</mat-list-item>
    <ul>
      <li>CanActivate</li>
      <li>CanDeactivate</li>
      <li>CanLoad</li>
    </ul>
    <mat-divider></mat-divider>
    <mat-list-item>Route events (spinner)</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Route data resolver</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Components & subcomponents</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Lazy loading</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Preloading (Eager Lazy loading)</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Template form with validation</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Reactive form with validation</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>App settings based on environment</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Http service calls (GET/POST)</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Promises & observables</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Authorization Service</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Page Not Found</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Feature modules</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Show/hide password</mat-list-item>
    <mat-divider></mat-divider>
    <!-- below are angular material specific features-->
    <mat-list-item>Angular Material</mat-list-item>
    <ul>
      <li>Tooltips</li>
      <li>Tabs</li>
      <li>Toolbar</li>
      <li>Popup dialog with confirmation</li>
      <li>Panels</li>
      <li>Slide toggle</li>
      <li>Icons</li>
      <li>Hint counter</li>
      <li>Lists</li>
    </ul>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
