<h2 mat-dialog-title>Resources</h2>
<mat-action-list>
  <a mat-list-item target="_blank" href="https://material.io/">Material Design Theory</a>
  <a mat-list-item target="_blank" href="https://material.angular.io/">Angular Material</a>
  <a mat-list-item target="_blank" href="https://material.io/resources/icons/?style=baseline"
    >Material Icons</a
  >
  <a mat-list-item target="_blank" href="https://material.angular.io/guide/typography"
    >Material Font Styles</a
  >
  <a mat-list-item target="_blank" href="https://github.com/angular-material-extensions"
    >Material Extensions</a
  >
</mat-action-list>
