<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>
  <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faCircle"></fa-icon>
          <fa-layers-text
            content="1"
            style="color: rgb(255, 255, 255);"
            transform="shrink-3"
          ></fa-layers-text>
        </fa-layers>
        <span>Get/Renew Token</span>
      </ng-template>
      <form #form="ngForm" (ngSubmit)="onSubmitGetToken(form)">
        <div class="row" style="padding: 10px 0;">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Select Favorite (optional)"
                [(ngModel)]="favoriteSelected"
                (selectionChange)="favoriteChanged($event)"
                name="Favorite"
                id="Favorite"
              >
                <mat-option *ngFor="let url of apiUrls" value="{{ url.value }}">{{
                  url.value
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-slide-toggle
              [(ngModel)]="useRefreshToken"
              (change)="useRefreshTokenChange($event)"
              name="useRefreshToken"
              id="useRefreshToken"
              >Using a refresh token
            </mat-slide-toggle>
          </div>
          <div class="col">
            <mat-slide-toggle
              [(ngModel)]="useClientAuthentication"
              name="useClientAuthentication"
              id="useClientAuthentication"
              >Using client Authentication
            </mat-slide-toggle>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="API url"
                name="apiUrl"
                id="apiUrl"
                [(ngModel)]="apiUrl"
                required
              />
              <!--(blur)="onBlur(nameVariable)" #nameVariable="ngModel" onBlur(field: NgModel) { {field.valid ...}-->
              <mat-icon matSuffix
                ><a href="#" matTooltip="Url should end in /token" matTooltipPosition="left"
                  >error</a
                >
              </mat-icon>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Grant Type"
                required
                [(ngModel)]="grantType"
                (selectionChange)="grantTypeChanged($event)"
                name="grantType"
                id="grantType"
              >
                <mat-option value="password">password</mat-option>
                <mat-option value="refresh_token">refresh_token</mat-option>
              </mat-select>
              <mat-icon matSuffix
                ><a
                  href="https://oauth.net/2/grant-types/"
                  target="_blank"
                  matTooltip="click for grant-types information"
                  matTooltipPosition="left"
                  >error</a
                ></mat-icon
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="useRefreshToken">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea
                id="useRefreshTokenValue"
                name="useRefreshTokenValueTextarea"
                id="useRefreshTokenValueTextarea"
                matInput
                placeholder="Refresh Token"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!useRefreshToken">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Username"
                name="username"
                id="username"
                required
                [(ngModel)]="username"
              />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
              <input
                matInput
                #password
                [type]="toggle.type"
                required
                placeholder="Password"
                maxlength="50"
                [(ngModel)]="passwordValue"
                name="password"
                id="password"
              />
              <mat-hint align="end" aria-live="polite"> {{ password.value.length }} / 50 </mat-hint>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="useClientAuthentication">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="client Id"
                name="clientId"
                id="clientId"
                [(ngModel)]="clientId"
              />
              <mat-icon matSuffix
                ><a
                  href="#"
                  matTooltip="Client id only neccessary if checking for it"
                  matTooltipPosition="left"
                  >error</a
                ></mat-icon
              >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
              <input
                matInput
                #password
                [type]="toggle.type"
                required
                placeholder="Client Secret"
                maxlength="50"
                name="clientSecret"
                id="clientSecret"
                [(ngModel)]="clientSecret"
              />
              <mat-hint align="end" aria-live="polite"> {{ password.value.length }} / 50 </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div [hidden]="!postError" class="alert alert-danger">
              {{ postErrorMessage }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-flat-button color="primary">Send request</button>
            <!--(click)="getTokenRequest()"-->
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab *ngIf="tokenFullWrapper.access_token">
      <ng-template mat-tab-label>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faCircle"></fa-icon>
          <fa-layers-text
            content="2"
            style="color: rgb(255, 255, 255);"
            transform="shrink-3"
          ></fa-layers-text>
        </fa-layers>
        <span>Token Result</span>
      </ng-template>
      <div class="row">
        <div class="col" style="padding: 10px;">
          <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <label class="mat-h3">Access Token</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="accessToken"
                    name="accessToken"
                    matInput
                    placeholder="Accesss Token Encrypted Value"
                    [(ngModel)]="tokenFullWrapper.access_token"
                    matTextareaAutosize
                  ></textarea>
                </mat-form-field>
                <label class="mat-body-strong">Type:</label> {{ tokenFullWrapper.token_type }}
                <label class="mat-body-strong">Expires in: </label>
                {{ tokenFullWrapper.expires_in }} seconds
                <label class="mat-body-strong">Issued: </label> {{ tokenFullWrapper.token_issued }}
                <label class="mat-body-strong">Expires: </label>
                {{ tokenFullWrapper.token_expires }}
                <div class="row" style="padding-top: 10px;">
                  <button mat-flat-button color="primary" (click)="useTokenGetData()">Use</button>
                </div>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <label class="mat-h3">Refresh Token</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="refreshToken"
                    name="refreshToken"
                    matInput
                    placeholder="Refresh Token Encrypted Value"
                    matTextareaAutosize
                    matAutosizeMinRows="2"
                    [(ngModel)]="tokenFullWrapper.refresh_token"
                  ></textarea>
                </mat-form-field>
                Issued: Expires in:
                <div class="row" style="padding-top: 10px;">
                  <button mat-flat-button color="primary" (click)="useRefreshTokenGetToken()">
                    Use
                  </button>
                </div>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" *ngIf="tokenFullWrapper.claims">
              <mat-expansion-panel-header>
                <label class="mat-h3">Claims</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="claims"
                    name="claims"
                    matInput
                    matTextareaAutosize
                    matAutosizeMinRows="2"
                    [(ngModel)]="tokenFullWrapper.claims"
                  ></textarea>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" *ngIf="tokenFullWrapper.role">
              <mat-expansion-panel-header>
                <label class="mat-h3">Role</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="role"
                    name="role"
                    matInput
                    matTextareaAutosize
                    matAutosizeMinRows="2"
                    [(ngModel)]="tokenFullWrapper.role"
                  ></textarea>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" *ngIf="tokenFullWrapper.settings">
              <mat-expansion-panel-header>
                <label class="mat-h3">Settings</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="settings"
                    name="settings"
                    matInput
                    matTextareaAutosize
                    matAutosizeMinRows="2"
                    [(ngModel)]="tokenFullWrapper.settings"
                  ></textarea>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true" *ngIf="tokenFullWrapper.apps">
              <mat-expansion-panel-header>
                <label class="mat-h3">Apps</label>
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="apps"
                    name="apps"
                    matInput
                    matTextareaAutosize
                    matAutosizeMinRows="2"
                    [(ngModel)]="tokenFullWrapper.apps"
                  ></textarea>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="tokenFullWrapper.access_token">
      <ng-template mat-tab-label>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faCircle"></fa-icon>
          <fa-layers-text
            content="3"
            style="color: rgb(255, 255, 255);"
            transform="shrink-3"
          ></fa-layers-text>
        </fa-layers>
        <span>Use Token to Access Resource</span>
      </ng-template>
      <form #form="ngForm" (ngSubmit)="onSubmitGetData(form)">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="API url"
                name="apiUrlResource"
                id="apiUrlResource"
                required
              />
              <mat-icon matSuffix
                ><a href="#" matTooltip="Url to resource" matTooltipPosition="left">error</a>
              </mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea
                id="authorization"
                name="authorization"
                matInput
                matTextareaAutosize
                matAutosizeMinRows="2"
                placeholder="Authorization (bearer AccessToken)"
                [(ngModel)]="authorization"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div [hidden]="!postError" class="alert alert-danger">
              {{ postErrorMessage }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-flat-button color="primary">Send request</button>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab *ngIf="resourceData">
      <ng-template mat-tab-label>
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faCircle"></fa-icon>
          <fa-layers-text
            content="4"
            style="color: rgb(255, 255, 255);"
            transform="shrink-3"
          ></fa-layers-text>
        </fa-layers>
        <span>Data Result</span>
      </ng-template>
      <div class="row">
        <div class="col" style="padding: 10px;">
          <mat-accordion multi="true">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                Data
              </mat-expansion-panel-header>
              <form>
                <mat-form-field class="full-width">
                  <textarea
                    id="dataResult"
                    name="dataResult"
                    matInput
                    placeholder="Data Result"
                  ></textarea>
                </mat-form-field>
              </form>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<!-- FontAwezome
<fa-icon [icon]="faInfoCircle"></fa-icon> -->

<!-- Material Icons
<mat-icon>favorite</mat-icon>
https://materializecss.com/icons.html
 -->

<!-- Material extensions
https://github.com/angular-material-extensions
 -->
